/Application_Project/FYP_Serial_Quat/Assets/Playback/*.txt
/Application_Project/FYP_Serial_Quat/Assets/Playback/*.txt.meta
/Application_Project/FYP_Serial_Quat/Assets/Racket/*.txt
/Application_Project/FYP_Serial_Quat/Assets/Racket/*.txt.meta

_build/
arm4/
armgcc/
iar/

JLinkLog.txt